<h1><%= @artist.name %></h1>
<%#show page links to the artist's songs by title%>

<h3><%= pluralize(@artist.song_count, 'Song') %></h3>
  <ul>
    <% @songs.each do |song| %>
      <li><%= link_to(song.title, song_path(song)) %></li>
    <% end %>
  </ul>